extends ../layout

block contenido
  .container.mt-5
    h2 Crear Nuevo Médico
    form(action="/medicos" method="POST")
      .mb-3
        label(for="dni" class="form-label") DNI
        input#dni.form-control(type="number" name="dni" required)
      .mb-3
        label(for="nombre" class="form-label") Nombre
        input#nombre.form-control(type="text" name="nombre" required)
      .mb-3
        label(for="apellido" class="form-label") Apellido
        input#apellido.form-control(type="text" name="apellido" required)
      .mb-3
        label(for="nacimiento" class="form-label") Fecha de Nacimiento
        input#nacimiento.form-control(type="date" name="nacimiento" required)
      .mb-3
        label(for="email" class="form-label") Email
        input#email.form-control(type="email" name="email" required)
      .mb-3
        label(for="password" class="form-label") Contraseña
        input#password.form-control(type="password" name="password" required)
      .mb-3
        label(for="repeatPassword" class="form-label") Repetir Contraseña
        input#repeatPassword.form-control(type="password" name="repeatPassword" required)
      .mb-3
        label(for="id_rol" class="form-label") Rol
        select#id_rol.form-control(name="id_rol" required)
          option(value="2") Profesional
      .mb-3
        label(for="estado" class="form-label") Estado
        select#estado.form-control(name="estado" required)
          option(value="3") Seleccione
          option(value="1") Activo
          option(value="0") Inactivo
      .mb-3
        label(for="especialidades" class="form-label") Especialidades
        select#especialidades.form-control(name="especialidades" required)
          option(value="") Seleccione
          if especialidades
            each especialidad in especialidades
              option(value=especialidad.id)= especialidad.nombre
          else
            option(value="") No hay especialidades disponibles
      .mb-3
        label(for="matricula" class="form-label") N° Matricula 
        input#matricula.form-control(type="number" name="matricula" required)
        label(for="telefonos" class="form-label") Teléfono
        input#telefonos.form-control(type="text" name="telefonos" required)
      button.btn.btn-primary(type="submit") Crear Médico
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
    script(src="/js/medicos.js")

