extends ../layout

block contenido
    .container
        h1 Editar Especialidad
        form(action=`/especialidades/${especialidad.id}` method="POST")
            .mb-3
                label(for="nombre" class="form-label") Nombre:
                input(type="text" name="nombre" id="nombre" class="form-control" value=especialidad.nombre required)
            button(type="submit" class="btn btn-primary") Update Especialidad
